<div class="container-fluid position-relative p-0">
    <!-- Contenedor de video con superposición de texto -->
    <div class="overlay-video">
        <!-- Video de fondo -->
        <video src="/images/TuNoMeteCabraSarabambeche.mp4" autoplay loop controls class="img-fluid w-100 blur-effect">
            Tu navegador no soporta el elemento de video.
        </video>
    </div>
    <!-- Texto superpuesto al video -->
    <div class="overlay-text text-white">
        <h1 class="display-4">Bienvenido a BakiGym</h1>
        <p class="lead">El lugar donde transformamos tus sueños en realidad. ¡Empieza hoy tu viaje hacia un cuerpo más fuerte y saludable!</p>
    </div>
</div>