<!-- Pie de página -->
<footer class="footer mt-auto py-3">
    <div class="container">
        <!-- Texto centrado en el pie de página -->
        <p class="text-center mb-0">© 2024 BakiGym. Todos los derechos reservados.</p>
    </div>
</footer>
