<nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <h3>BakiGym</h3>
        <strong>BG</strong>
    </div>
    <ul class="list-unstyled components">
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-home"></i> <span class="nav-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">
                <i class="fas fa-info-circle"></i> <span class="nav-text">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">
                <i class="fas fa-user"></i> <span class="nav-text">Usuarios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trainers">
                <i class="fas fa-dumbbell"></i> <span class="nav-text">Entrenadores</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/classes">
                <i class="fas fa-chalkboard-teacher"></i> <span class="nav-text">Clases</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reservations">
                <i class="fas fa-calendar-alt"></i> <span class="nav-text">Reservas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/plans">
                <i class="fas fa-file-invoice-dollar"></i> <span class="nav-text">Planes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/payments">
                <i class="fas fa-credit-card"></i> <span class="nav-text">Pagos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/equipment">
                <i class="fas fa-cogs"></i> <span class="nav-text">Equipos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/feedback">
                <i class="fas fa-comments"></i> <span class="nav-text">Comentarios</span>
            </a>
        </li>
    </ul>
</nav>
