<section>
    <h2>Editar Comentario</h2>
    <form action="/feedback/<%= feedback.id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="message">Mensaje:</label>
            <textarea class="form-control" id="message" name="message"><%= feedback.message %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</section>
