<section>
    <!-- Título de la sección -->
    <h2>Editar Comentario</h2>
    <!-- Formulario para editar un comentario -->
    <form action="/feedback/<%= feedback.id %>?_method=PUT" method="POST">
        <!-- Campo para el mensaje del comentario -->
        <div class="form-group">
            <label for="message">Mensaje:</label>
            <textarea class="form-control" id="message" name="message"><%= feedback.message %></textarea>
        </div>
        <!-- Botón para enviar el formulario -->
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</section>
