/* users.css */
h2 {
    color: #fd7e14;
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.container {
    max-width: 800px;
}

.btn-primary, .btn-danger {
    width: 100%;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Elimina los estilos de enlaces si no son necesarios */
ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group .btn {
    margin: 0 5px;
}

/* Ajustar margen entre los botones de acción */
.btn-group .btn + .btn {
    margin-left: 10px;
}
