<section>
    <h2>Detalle de Equipo</h2>
    <p>Nombre: <%= equipment.name %></p>
    <p>Descripción: <%= equipment.description %></p>
    <a href="/equipments/<%= equipment.id %>/edit">Editar</a>
    <form action="/equipments/<%= equipment.id %>?_method=DELETE" method="POST">
        <button type="submit">Eliminar</button>
    </form>
</section>
