<section>
    <h2>Nueva Clase</h2>
    <form action="/classes" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name">
        <label for="description">Descripción:</label>
        <textarea id="description" name="description"></textarea>
        <button type="submit">Crear</button>
    </form>
</section>
