<section>
    <h2>Detalle de Pago</h2>
    <p>Nombre: <%= payment.name %></p>
    <p>Descripción: <%= payment.description %></p>
    <a href="/payments/<%= payment.id %>/edit">Editar</a>
    <form action="/payments/<%= payment.id %>?_method=DELETE" method="POST">
        <button type="submit">Eliminar</button>
    </form>
</section>
