<section>
    <h2>Nuevo Entrenador</h2>
    <form action="/trainers" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <button type="submit">Crear</button>
    </form>
</section>
