<section>
    <h2>Editar Reserva</h2>
    <form action="/reservations/<%= reservation.id %>?_method=PUT" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%= reservation.name %>">
        <label for="description">Descripción:</label>
        <textarea id="description" name="description"><%= reservation.description %></textarea>
        <button type="submit">Guardar</button>
    </form>
</section>
