<section>
    <h2>Detalle de Reserva</h2>
    <p>Nombre: <%= reservation.name %></p>
    <p>Descripción: <%= reservation.description %></p>
    <a href="/reservations/<%= reservation.id %>/edit">Editar</a>
    <form action="/reservations/<%= reservation.id %>?_method=DELETE" method="POST">
        <button type="submit">Eliminar</button>
    </form>
</section>
