<section>
    <h2>Detalle de Plan</h2>
    <p>Nombre: <%= plan.name %></p>
    <p>Descripción: <%= plan.description %></p>
    <a href="/plans/<%= plan.id %>/edit">Editar</a>
    <form action="/plans/<%= plan.id %>?_method=DELETE" method="POST">
        <button type="submit">Eliminar</button>
    </form>
</section>
